#navcontainer
{
//background: #ffffff;
//position: absolute;
width: 100%;
height: 100%;
margin: 0 0;
padding: 0em 0;
font-family: "Arial";
font-size: 22px;
text-align: center;
position:relative;
//text-transform: lowercase;
}

ul#navlist
{
text-align: left;
list-style: none;
padding: 0;
margin: 0 0;
width: 100%;
}

ul#navlist li
{
display: block;
margin: 0;
padding: 0;
}

ul#navlist li a
{
display: block;
width: 100%;
height: 40px;
padding: 15px 0 15px 5px;
border-width: 1px;
border-color: #ffe #aaab9c #ccc #fff;
border-style: solid;
color: #000;
text-decoration: none;
background: #ffffff;
}

#navcontainer>ul#navlist li a { width: auto; }

ul#navlist li#active a
{
background: yellow;
//color: #800000;
}

ul#navlist li a:hover, ul#navlist li#active a:hover
{
//color: #800000;
background: yellow;
//border-color: #aaab9c #fff #fff #ccc;
}
