#merpago{
	background-color:white;
	text-align:left;
	padding: 15px 15px 15px 10px;	
	height:100%;
	font-size:14px;
}

#placaMP{
	position:absolute;
	top:0px;
	left:0px;
	z-index:500;
	width:100%;
	height:100%;
	background-color:#fff;
}

#merpago hr{
	width:150%;
	margin-left:-25%;
	margin-top:8px;
	margin-bottom:8px;
	font-size:8px;
	height:8px;
	background-color:#ccc;
}

#merpago .hr_small{
	width:150%;
	margin-left:-25%;
	margin-top:8px;
	margin-bottom:8px;
	font-size:8px;
	height:2px;
	background-color:#ccc;
}

#mp_medios{
	vertical-align: middle;	
}

#medios_container{
	height:400px;
	overflow-y:scroll;
}

#mp_medios button{
	text-align:left;
	font-size:18px;
	width:90%;
	height:40px;
        margin-left: 5%;
	border-radius:4px;
	-webkit-border-radius:4px;
	background-color:#eee;
}

#mp_medios_cliente button{
	text-align:left;
	//font-size:18px;
	width:90%;
	height:40px;
        margin-left: 5%;
	border:solid 1px white;
	background-color:#eee;
}

#cardTitle.ui-btn.ui-shadow.ui-corner-all{
	border: none 0px white;
   	background-color: white;
    	padding: 2px 2px 2px 2px;
    	text-align: left;
   	box-shadow: 0 0px 0px white;
	font-weight: 100;
	font-size:14px;
}

#clientCardButton{
	font-size:14px;	
}

#otherClientCard{
	font-size:18px;
}



#merpago .left{	
	float: left;
	margin-right: 20px;
}

#merpago .right{	
}
#mp_datos{
	text-align:left;
	//margin-left:-10%;
}
#mp_datos_continue .ui-btn{
	//width:90%;
	//margin-left:10%;
}
#mp_datos_submit .ui-btn{
	//width:80%;	
	//margin-left:11%;
}
#mp_datos ul{
	padding:0px;
}
#mp_datos_exp div.ui-input-text{ width: 50px !important; height: 30px; }

#mp_datos_exp .ui-input-text{ width:50px;}

#docType-button{
	//height:5px;
	font-size:11px;
}



#cardExpirationMonth{float: left;}
#cardExpirationYear{float: right;}

#mp_cuotas.ui-btn.ui-shadow.ui-corner-all{
	border: none 0px white;
   	background-color: white;
    	padding: 2px 2px 2px 2px;
    	text-align: left;
   	box-shadow: 0 0px 0px white;
	font-weight: 100;
	font-size:14px;
}

#cardTitle{
	//margin-top:8px;
	margin-bottom:16px;
}

#cardDetail{
	margin-top:16px;
	margin-bottom:16px;
}

#submitMP{
	width:92%;
	left:4%;
}

#mp_check{
	text-align:center;
	font-size:40px;	
}
#mp_exito p{
	margin:1%;
}
#mp_check_text{
	text-align:center;
	font-size:24px;
	margin-bottom:20px;
}
#mp_check_medio{
	vertical-align: middle;	
}
