#ultimos{
	background-color:white;
	text-align:left;
	padding: 15px 15px 15px 10px;	
	height:100%;
}
#ultimos #left{
	width:50%;
	text-align:left;
	font-size:16px;
	float:left;
}

#ultimos #right{
	width:50%;
	text-align:right;
	font-size:16px;
	float:right;
}

#ultimos #separaV{
	height:20px;
	width:100%;
	float:left;
}

#placaUlt{
	position:absolute;
	top:0px;
	left:0px;
	z-index:500;
	width:100%;
	height:100%;
	background-color:#fff;
}
